@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Open+Sans:wght@300;400&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {

	box-sizing: border-box;
	font-family: 'open sans',
		sans-serif;
	font-weight: 300;
	padding: 0px;
	margin: 0px;
	text-decoration: none;
}

body {
	background: linear-gradient(to right, rgb(4, 48, 7) 0%, rgba(13, 80, 100, 0.959) 51%, rgb(5, 11, 66) 100%);
	font-size: 20px;
	line-height: 1.25em;
	color: #ffffff;
	margin: 0;
	padding: 0px;
	word-wrap: break-word !important;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 3em;
	text-align: center;
	color: #FFF;
	vertical-align: middle;
	text-decoration: none;
}

figcaption {
	font-size: 3em;
	text-decoration: none;
}

h2 {
	font-size: 2em;
	text-align: center;
	color: #FFF;
	vertical-align: middle;
	padding: 0.5em;
}

h3 {
	font-size: 1.25em;
	line-height: 1.5em;
	text-align: left;
	color: #FFF;
}

h3 a {
	color: #FFF;
}

a {
	color: #FFF;
}


#container {
	margin: 0 auto;
	max-width: 890px;
}

p {
	text-align: center;
}

.toggle,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
nav {
	position: fixed;
	z-index: 10;
	height: 2.75em;
	width: 100vw;
	top: 0em;
	left: 0em;
	margin: 0;
	padding: 0em;
	background-color: #1313133d;
}

#logo {
	display: block;
	padding: 0em;
	position: fixed;
	top: 0em;
	left: 0.25em;
	font-size: 1em;

}

.toplogo {
	height: 1.25em;
	width: 1.25em;
	overflow: hidden;
}

.toplogobrand {
	position: fixed;
	top: 0em;
	left: 2em;
	font-size: 1.25em;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content: "";
	display: table;
	clear: both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	float: right;
	font-size: 1em;
	padding: 0.em;
	margin: 0;
	list-style: none;
	position: relative;
}

/* Positioning the navigation items inline */
nav ul li {
	margin: 0px;
	display: inline-block;
	float: left;
	/* background-color: #1313133d; */
}

/* Styling the links */
nav a {
	display: block;
	color: rgba(230, 230, 230, 0.897);
	font-size: 1.25em;
	text-decoration: none;
	padding: 0.25em 1em 0.25em 1em;
	margin: 0em;
	line-height: 1.25em;
}


nav ul li ul li:hover {
	background: #dfdfdf3d;
}

/* Background color change on Hover */
nav a:hover {
	background-color: #f1f1f11c;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
	position: absolute;
	/* has to be the same number as the "line-height" of "nav a" */
	top: 1.75em;
}

/* Display Dropdowns on Hover */
nav ul li:hover>ul {
	display: inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
	width: 300px;
	float: none;
	display: list-item;
	position: relative;
}

/* Second, Third and more Tiers
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
	position: relative;
	top: -1.2em;
	/* has to be the same number as the "width" of "nav ul ul li" */
	left: 170px;
}


/* Change ' +' in order to change the Dropdown symbol */
li>a:after {
	content: '';
}

li>a:only-child:after {
	content: '';
}


/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {

	#logo * {
		display: none;
		padding: 0;
		width: 100%;
		text-align: center;
		float: none;
	}

	nav {
		margin: 0;
	}

	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle+a,
	.menu {
		display: none;
	}

	/* Stylinf the toggle lable */
	.toggle {
		display: block;
		background-color: #00000025;
		padding: 0px 0px;
		color: #FFF;
		font-size: 1em;
		text-decoration: none;
		border: none;
	}

	.toggle:hover {
		background-color: #ffffff13;
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked+ul {
		display: block;
	}

	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: 100%;
	}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
	nav ul ul ul a {
		background-color: #000000;
	}

	nav ul li ul li .toggle,
	nav ul ul a,
	nav ul ul ul a {
		padding: 10px 10px;
		color: #FFF;
		font-size: 1em;
	}


	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #d6d0d0;
	}

	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position: static;
		color: #ffffff;
		/* has to be the same number as the "line-height" of "nav a" */
	}

	/* Hide menus on hover */
	nav ul ul li:hover>ul,
	nav ul li:hover>ul {
		display: none;
	}

	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;
		/* has to be the same number as the "width" of "nav ul ul li" */

	}

}

@media all and (max-width : 330px) {


	nav ul li {
		display: block;
		width: 94%;
	}

}

.main {
	max-width: 100vw;
	display: grid;
	grid-template: repeat(4, 1fr) / repeat(4, 1fr);
	grid-template-areas:
		"l i i r "
		"a a a a"
		"b b b b"
		"f f f f";
}

section#i {
	grid-area: i;
	height: 20vh;
	text-align: center;
	margin-top: 3em;
}



.Logo {
	text-align: center;
	display: inline;
	vertical-align: middle;
}

.intro img {
	text-align: center;
	width: 10em;
	height: 10em;
}

section#r {
	grid-area: r;
	margin-top: 2em;
}

section#l {
	grid-area: l;
	margin-top: 2em;
}

section#a {
	grid-area: a;
}

.categories {
	overflow: hidden;
	position: relative;
	display: flexbox;
	margin: 0;
	padding: 0;
	width: 100%;
	object-fit: cover
}

.categories a {
	padding: 0;
	margin: 0;
	height: 0px;
}

figure {
	display: block;
	overflow: hidden;
	position: relative;
	display: block;
	min-width: 100%;
	height: 15vh;
	margin: 0em;
	padding: 0em;
	transition: all 0.6S;
}

figure:hover {
	height: 40vh;

}



.fig {
	display: flex;
	min-width: 100%;
	height: 15vh;
	object-position: center;
	object-fit: cover;
	transition: all 0.6S;

}

.fig:hover {
	height: 40vh;

}


figcaption {
	display: block;
	position: relative;
	width: fit-content;
	top: -15vh;
	left: 3vw;
	font-size: 2em;
	z-index: 10;

}

figcaption:hover {
	top: inherit;

}

.darken {
	filter: brightness (0.3);
}

.darken:hover {
	filter: brightness (0.8);
}

.blur {
	filter: blur(15px);
}

.blur:hover {
	filter: blur(0);
}

.mask {
	-webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.1) 100%);
	mask-image: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.1) 100%);
}

.mask:hover {
	-webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 1) 100%);
	mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 01) 100%);
}

section#b {
	grid-area: b;
}

.footer {


	grid-area: f;
	background-color: #202020;
	background-size: cover;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(4, 1fr);
	grid-template-areas:
		"ft fs fs "
		"fm fa1 fa2"
		"fc fc fc ";
}

section#ft {
	grid-area: ft;
	line-height: 2em;
	text-align: left;
	height: 3em;
}

section#fs {
	grid-area: fs;
	line-height: 2em;
	text-align: left;
}

section#fm {
	position: static;
	grid-area: fm;
	width: 50vw;
	margin-top: 0.25em;
	top: 0px;
	left: 0px;
}

section#fa1 {
	grid-area: fa1;
	width: 25vw;
	text-align: left;
}

section#fa2 {
	grid-area: fa2;
	width: 25vw;
	text-align: left;
}

.left {
	text-align: left;
}


#fc {
	grid-area: fc;
	text-align: center;
	line-height: 2em;
	height: 2em;
}

.overlay {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
	overflow-y: hidden;
	transition: 0.5s;
}

.overlay-content {
	position: relative;
	top: 4em;
	width: 90%;
	text-align: center;
	margin-top: 0%;
	left: 1em;

}


.overlay .closebtn {
	z-index: 11;
	position: absolute;
	font-size: 4em;
	top: 0.75em;
	right: 0.75em;

}

@media screen and (max-height: 450px) {
	.overlay {
		overflow-y: auto;
	}

	.overlay a {
		font-size: 20px
	}

	.overlay .closebtn {
		font-size: 60px;
		top: 1em;
		right: 1em;
	}
}

#nav-hamburger-wrapper label,
#nav-hamburger-input {
	transform: rotate(90deg);
	transition-duration: 0.3s;
	/* give it a rotation effect when checked */
}

#nav-hamburger-wrapper input:checked+label {
	transform: rotate(0);
}
